@{
    ViewData["Title"] = "Equipo T.H.O.R ";
}

<div class="container text-center">
    <h1 class="display-4 text-white mt-5" style="font-weight: bold; font-size: 2.5em;">¡Bienvenido a PROYECTO THOR!</h1>
    <p class="text-white mt-5">Descubre cómo mejorar tu salud y condición física en nuestro moderno aplicativo para gimnasio.</p>

    <div class="d-flex justify-content-center">
        <img src="https://th.bing.com/th/id/R.1d23cee864388ca95ae3a9686fa8184d?rik=x2i3xijYhlJTow&pid=ImgRaw&r=0" alt="Proyecto THOR" class="img-fluid" />
    </div>

    <p>Para obtener más información, visita nuestro sitio web: <a href="https://www.proyectothor.com">www.thorgym.com</a></p>
</div>

<style>
    body {
        background-image: linear-gradient(to bottom, #555555, #ffffff);
    }

</style>
